* {
  box-sizing: border-box;
  font-family: "Press Start 2P", system-ui;
}
body {
  margin: 0;
}

.game {
  position: relative;
}
canvas {
  width: 100vw;
  height: 100vh;
}

.health-status {
  width: 100%;
  height: 150px;
  position: absolute;
  display: flex;
  align-items: center;
  margin: auto;
  padding-inline: 30px;
}

.health-status > div {
  flex: 1;
  border: 1px solid white;
  height: 50px;
  background-color: red;
}

.health-status .timer {
  max-width: 150px;
  height: 100px;
  color: white;
  display: grid;
  font-size: 24px;
  place-content: center;
  background-color: #121212;
  border-radius: 12px;
}
.player-health {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  overflow: hidden;
}

.enemy-health {
  display: flex;
  flex-direction: row-reverse;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}

.current-health {
  background-color: rgb(93, 4, 183);
  height: 100%;
  width: 100%;
}

.game-status {
  position: fixed;
  inset: 0;
  display: grid;
  place-content: center;
  color: white;
  font-size: 48px;
}
